//
//  screenshot.xcconfig
//  OOTD
//
//  Created by Hiroshi Matsui on 2024/11/29.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
// AppStore 用のスクリーンショット撮影用
DATA_SOURCE = sample
IS_DEBUG_MODE = false
IS_SHOW_AD = false
// テスト専用広告ユニット
GOOGLE_ADMOB_AD_UNIT_ID = ca-app-pub-3940256099942544/2435281174
